[submodule "src/api"]
	path = src/api
	url = https://github.com/MicrosoftDocs/mslearn-aks-workshop-ratings-api.git
[submodule "src/web"]
	path = src/web
	url = https://github.com/MicrosoftDocs/mslearn-aks-workshop-ratings-web.git
